# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/prod

# misc
.DS_Store

bemypass-firebase-adminsdk-4h57c-eda9f4db82.json

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

config.js